#header {
  text-align: center;
  font-size: 75px;
  font:



}

#headerPic {
  width: 400px;
  height: 200px;

}

#main {



}

#navBar {
  text-align: center;
  font-size: 50px;
  font-family: Arial;



}

#footer {


}
